/* CSS Document */
body#login
{
	margin:0px;
	background-color: rgb(50,50,50);
	background-image:url("HeroLogin2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding:5% 0;
}

hr
{
	border-top:1px solid grey;
}

body#homepage
{
	background-color:rgb(45, 45, 45);
	color:white;
}

a#button
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
	background-color: rgb(0,80,200);
	border: 1px solid rgb(100,100,100);
	width:100%;
	height:40px;
	border-radius: 10px;
	color: rgb(200,200,200);
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
}

a.logo
{
	font-size:1.5rem;
	font-weight:bold;
}

a.dark
{
	color:whiteSmoke;
}

a.dark:hover
{
	color:yellow;
}

a.nav-link
{
       color:whiteSmoke; 
}

.sidebar
{
	border-right:1px solid grey;
	padding-top:20px;
        background-color: rgb(35,35,35); 
}
.sidebar .nav-link
{
    background-image: linear-gradient(to right, rgb(35,35,35), rgb(45,45,45), rgb(35,35,35));
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}
.sidebar .nav-link:hover
{
    background-image: linear-gradient(to right, rgb(35,35,35), rgb(55,55,55), rgb(35,35,35));
}
.navbar-horizontal
{
    background-color: rgb(30,30,30);
}

.navbar-horizontal a
{
    color: whiteSmoke;
}

.navbar-horizontal .nav-link:hover
{
    background-color: rgb(45,45,45);
}
textArea
{
    background-color: rgb(40,40,40);
    padding-left: 10px;
    resize: none;
    color: whiteSmoke;
}
textArea:focus
{
    outline: none;
}

#okno
{
	width:1046px;
	background-color:rgb(90,90,90);
	overflow: auto;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-top:20px;
}

.prvky
{
	width:322px;
	background: rgb(50,50,50);
	height: 322px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.prvky:active
{
	background-color: yellow;
	width: 1006px;
}

#login-bg, #login
{
}


#login-bg
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-position: center -70px;
  -webkit-filter: blur(10px);
  /*filter: url('/media/blur.svg#blur');*/
  filter: blur(10px);
 }
 
 #login-form
{
	-webkit-backdrop-filter:blur(10px);
	padding-top:30px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	background:rgba(50,50,50, 0.75);
	border-radius:10px;	
	position: relative;
	z-index: 100;
}

.form
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:30px;
}

.footer
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
}

.header
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
	font-size:40px;
	font-weight:bold;
}

.post
{
	width:50%;
	margin-bottom:20px;
}

.post .manage
{
	height:30px;
	padding:0px;
	padding-right:5px;
	padding-left:5px;
	margin-top:5px;
}

.post .title
{
	margin-bottom:5px;
}

.post .title .author
{
	font-weight:bold;
}

.post .title .time
{
	font-size:13px;
	color:lightgray;
}

.post .message
{
	margin-left:10px;
}

.form-button-group
{
	height:40px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
}

.homepage-post
{
	width:50%;
	height:100px
}

.homepage-post .post-part
{
	width:100%
}

.homepage-post .post-part .post-button
{
	width:15%;
	float:right;
	background-color: rgb(0,80,200);
	border: 1px solid rgb(100,100,100);
	height:40px;
	border-radius: 10px;
	color: rgb(200,200,200);
	font-size:14px;
	font-weight:bold;
	margin-top:5px;
}

.homepage-post .post-part .post-button:hover
{
	background-color: rgb(0,60,160);
}

.homepage-post .post-part .post-item
{
	width:100%;
	border-radius:10px;
}

.form-button-group .form-button
{
	background-color: rgb(0,80,200);
	border: 1px solid rgb(100,100,100);
	width:155px;
	height:40px;
	border-radius: 10px;
	color: rgb(200,200,200);
	font-size:14px;
	font-weight:bold;
	display: block; 
	float: left; 
	text-decoration: none; 
	font-size:14px; 
	font-weight:bold; 
	text-align:center; 
	line-height:40px;
}

.form-button-group .form-button:hover
{
	background-color: rgb(0,60,160);
	cursor:pointer;
}

.form-button-group .form-button-separator 
{
	width:10px; 
	height:40px; 
	float: left; 
	display: block; 
}  

.form .form-item
{
	background-color: rgb(25,25,25);
	border: 1px solid;
	width:100%;
	height:40px;
	padding-right:10px;
	padding-left:10px;
	border-radius:10px;
	margin-top:10px;
	color:rgb(200, 200, 200);
}

.form .form-button 
{ 
	background-color: rgb(0,80,200); 
	border: 1px solid rgb(100,100,100); 
	width:100%; 
	height:40px; 
	border-radius: 10px; 
	color: rgb(200,200,200); 
	font-size:14px; 
	font-weight:bold; 
	display: block; 
	float: left; 
	text-decoration: none; 
	font-size:14px; 
	font-weight:bold; 
	text-align:center; 
	line-height:40px; 
} 

.form .form-button:hover 
{ 
	background-color: rgb(0,60,160); 
	cursor: pointer; 
}

.form p
{
	margin: 0;
	color: rgb(200,200,200);	
}

